@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300;400;700&family=Lato:wght@300;400&display=swap');


$black: #0E0D0D;
$white: #FFFFFF;
$background: #D0D0D0;
$blue: #8aa2d0;
$hoverBlue: #2651A3;
$averiaLibre: 'Averia Libre', cursive;
$lato: 'Lato', sans-serif;
