@use '../../Styles/Reset';
@use '../../Styles/variables' as variable;

App {
  text-align: center;
}

body {
  height: 100vh;
  overscroll-behavior: none;
}

main {
  background-color: variable.$background;
  font-size: 1.5em;
  color: variable.$black;
  font-family: variable.$averiaLibre;
}

.body {
  padding: 5%;
}

h1, h2, h3 {
  font-family: variable.$averiaLibre;
}

p {
  font-family: variable.$lato;
  line-height: 1.5em;
}

a:link { 
  text-decoration: none; 
  color: variable.$black;
}

a:visited { 
  text-decoration: none; 
  color: variable.$black;
}

a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:focus { text-decoration: none; }
