@use '../../Styles/variables' as variable;

header {
  display: flex;
  background-color: variable.$black;
  color: variable.$white;
  padding: 2%;
  justify-content: center;
  
  h1 {
    font-size: 3em;
  }

  a:link {
    color: variable.$white;
  }

  a:visited {
    color: variable.$white;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
 header {
   h1 {
     font-size: 2em;
   }
 }
}

@media (min-width: 320px) and (max-width: 480px) {
  header {
    h1 {
      font-size: 1.5em;
    }
  }
}


 